{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}{% trans %}News{% endtrans %}{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item">Blog</li>
        <li class="breadcrumb-item active">{% trans %}News{% endtrans %}</li>
    </ul>
{% endblock %}


{% block paneltitle %}{% trans %}News list{% endtrans %}{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th style="width:200px">Date</th>
            <th class="no-sort" style="width:150px">Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.createdAt|datetime('dd/MM/Y') }}</td>

                <td class="text-right">
                    <div class="btn-group">
                        <button type="button" class="badge badge-light badge-icon" data-bs-toggle="dropdown" data-boundary="viewport">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                            <a href="{{ path('aropixel_blog_post_edit', {'id': post.id}) }}" class="dropdown-item has-icon"><i class="fas fa-edit"></i> Modifier</a>
                            <a class="dropdown-item has-icon status" data-confirm="Êtes-vous certain de vouloir mettre ce post %s ?" data-path="{{ path('aropixel_blog_post_status', {'id': post.id}) }}"><i class="fas fa-toggle-on"></i>{{ post.status == 'online' ? 'Mettre hors ligne' : 'Mettre en ligne' }}</a></li>
                            <div class="dropdown-divider"></div>
                            <a data-confirm="Êtes-vous certain de vouloir supprimer ce post ?" class="delete dropdown-item has-icon text-danger">
                                <i class="fas fa-trash"></i> Supprimer
                            </a>
                            {{ form(delete_forms[post.id]) }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
